<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="@Url.Action("MainHome", "Main")">Student Enrollment System</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")"
                       aria-current="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "page" : "")"
                       href="@Url.Action("MainHome", "Main")">HOME</a>
                    @* action="@Url.Action("MainHome", "Main") *@
                </li>
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "StudentProfile" ? "active" : "")"
                       href="@Url.Action("Student_Profile", "Main")">PROFILE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "StudentEnroll" ? "active" : "")"
                       href="@Url.Action("Student_Enrollment", "StudentEnrollment")">ENROLL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "ClassSchedule" ? "active" : "")"
                       href="@Url.Action("Student_Schedule", "Main")">CLASS SCHEDULE</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Login", "Login")">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>